* {
    box-sizing: border-box;
}
body
{
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header h1 {
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-shadow: 0.125em 0.125em 0.313em blue;
}
nav{
    list-style-type: none;
    margin: 1em;
    padding: 0em;
    overflow: hidden;
    background-color:white;
    border-color: orange;
    border: 0.075em solid lavender;
        
}
nav a, div.contacto a {
    float: left;
    width: 10em;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    border:0.075em solid white;
}

nav a:link, div.contacto a:link{
    background-color: lavender;
    text-shadow: 0em 0em 1em lightblue;
}
nav a:hover, div.contacto a:hover{
    border-color: lightblue;
    background-color: aliceblue;
}
nav a:active, div.contacto a:active{
    background-color: gray;
    color: white;
    text-shadow: 0em 0em 1em white;
}
/* lo siguiente coloca el último a element de la navegación a la derecha, a:last-child es un pseudo elemento
nav a:last-child{
    float: right;
}  */
div.contacto{
    position: fixed;
    right: 1em;
    bottom: 1em;
}
.fas, .fa-envelope{
    font-size:1em;color:BLUE
}
article#rightArticle, article#leftArticle{
    display: inline-block;
    background-color: lightgrey;
    position: relative;
    width: 45vw;
    padding: 2em;
    border: 0.125em solid dimgray;
}
article#rightArticle{    
    border-radius: 0em 3em 0em 0em;
}

article#leftArticle{    
    border-radius:  0em 0em 0em 3em;
}

article#rightArticle h1, article#leftArticle h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    text-transform: capitalize;
    text-shadow: 0em 0em 2em black;
}
article#rightArticle h2, article#leftArticle h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    text-transform: capitalize;
    font-size: 0.75em; 
}
article#rightArticle p, article#leftArticle p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    text-transform: capitalize;
    font-size: 0.65em; 
    text-align: justify;
}
/* div#twoArticles{
    
} */